/*................INICIO MENU NAV...............*/

a,
a:active {
    text-decoration: none;
}

.tituloPrincipal {
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.918);

}


.cabecera {
    background-color: rgb(253, 182, 194);
    font-family: 'Dancing Script', cursive;
    font-size: 220%;
    text-shadow: 1% 1% 1% black;
}

.navbar-brand img {
    border-radius: 3%;
}


.cabecera ul a {
    color: rgb(255, 255, 255);

}

.navbar-brand {
    font-size: 200%;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

/*................. FIN MENU NAV..............*/


/*................ INICIO MAIN...............*/
.contenido {
    background-image: url(../images/Fondo\ Index.jpg);
    display: flex;
    flex-direction: column;

}


.titulo-contenido {
    color: rgb(168, 61, 154);
    font-family: 'Dancing Script', cursive;
    font-size: 320%;
    padding: 3%;

}

.texto-contenido {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 220%;
    padding: 1%;
    width: 50vw;
}

.GaleriaImg {
    display: flex;
    justify-items: left;
    margin: 3% 65% 3% 3%;

}

.GaleriaImg img {
    border-radius: 5%;
}



/*................ FIN MAIN...............*/


/*................ PAGINA SERVICIOS...............*/

/*................ INICIO MAIN...............*/
.fondo-serv {
    background-image: url(../images/Fondo-Servicios.jpg);
}

.servicios {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 5%;
}


.btn {
    background-color: rgb(253, 182, 194);
    border-color: black;
    color: black;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.btn:hover{
    background-color: rgb(253, 182, 194);
    border-color: black;
    color: black;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}


/*................ FIN MAIN...............*/

/*................ INICIO FOOTER...............*/

.pie-pag {
    background-color: rgb(253, 182, 194);
    color: rgb(255, 255, 255);
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    text-align: center;
}

.pie-pag a i {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1%;

}

.pie-pag a i:hover {
    transform: scale(1.5);
    transition: all 1s ease;
}

.Logos {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    height: auto;
    width: auto;
    max-height: 110px;
    max-width: 70px;
    flex-wrap: wrap;

}



/*................ FIN FOOTER...............*/

/*................MEDIA QUERIES...............*/

@media screen and (min-width: 320px) and (max-width: 720px) {

    .texto-contenido {
        width: 100vw;
        padding: 4%;
    }

    .titulo-contenido {
        text-align: center;
    }

    .GaleriaImg {
        width: 100vw;
    }
}