/*................INICIO MENU NAV...............*/

a,
a:active {
    text-decoration: none;
}

.tituloPrincipal {
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    font-size: 150
}


.cabecera {
    background-color: rgb(253, 182, 194);
    font-family: 'Dancing Script', cursive;
    font-size: 220%;

}

.cabecera ul a {
    color: rgb(255, 255, 255);

}

.navbar-brand {
    font-size: 200%;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

/*................. FIN MENU NAV..............*/


/*................ INICIO MAIN...............*/
.contenido {
    background-image: url(../images/Fondo\ Index.jpg);
    display: flex;
    flex-direction: column;

}


.titulo-contenido {
    color: rgb(168, 61, 154);
    font-family: 'Dancing Script', cursive;
    font-size: 320%;
    padding: 3%;

}

.texto-contenido {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 220%;
    padding: 1%;
    width: 50vw;
}

.GaleriaImg {
    display: flex;
    justify-items: left;
    margin: 3% 65% 3% 3%;

}



/*................ FIN MAIN...............*/


/*................ PAGINA SERVICIOS...............*/

/*................ INICIO MAIN...............*/
.fondo-serv {
    background-image: url(../images/Fondo-Servicios.jpg);
}

/*................ FIN MAIN...............*/

/*................ INICIO FOOTER...............*/

.pie-pag {
    background-color: rgb(253, 182, 194);
    padding: 1%;
    color: rgb(255, 255, 255);
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}


.redes a i:hover {
    transform: scale(1.5);
    transition: all 1s ease;
}



/*................ FIN FOOTER...............*/

/*................MEDIA QUERIES...............*/

@media screen and (min-width: 320px) and (max-width: 720px) {

    .texto-contenido {
        width: 100vw;
        padding: 4%;
    }

    .titulo-contenido {
        text-align: center;
    }
    .GaleriaImg{
        width: 100vw;
    }
}