/*................. INICIO INDEX..............*/

.contenido {
    background-image: url(../images/Fondo-Index.jpg);
    @include size-background;

}


.titulo-contenido {
    color: rgb(168, 61, 154);
    font-family: $tipografia;
    font-size: 320%;
    padding: 3%;

}

.texto-contenido {
    display: flex;
    font-family: $tipografia;
    font-size: 220%;
    padding: 1%;
    width: 50vw;
}

.GaleriaImg {
    display: flex;
    justify-items: left;
    margin: 3% 65% 3% 3%;

}

.GaleriaImg img {
    border-radius: 5%;
}


/*................. FIN INDEX..............*/