/*................ INICIO PAG TIENDA...............*/

.tienda {
    background-image: url(../images/FondoTienda.jpg);
    background-size: 100%;
    
}


.contenido-tienda {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;

}

/*................ FIN PAGINA TIENDA...............*/