.calendario {
    font-family: $tipografia;
    text-align: center;
    background-color: rgb(177, 71, 219);
    margin: 0 auto;
    width: 50%;

}

h2 {
    font-size: 180%;
    font-weight: bold;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0%;

    li {
        text-align: right;
        padding: 10%;
    }

    .first-day {
        grid-column-start: 5;
    }

    .day-name {
        background-color: $color-fondo;
        font-weight: bold;
        font-family: $tipografia;
        font-size: 150%;
        text-align: center;
    }

}

.alerta {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;

}

p {
    font-family: $tipografia;
    font-size: 150%;
    text-align: center;
    padding: 2%;
}

.boton-contacto {
    display: flex;
    justify-content: center;

    button {
        background-color: $color-fondo;
        font-family: $tipografia;
        color: black;
        font-weight: bold;
        padding: 18%;
        margin: 10%;
        border-radius: 10%;



    }

    button:hover {
        background-color:  rgb(177, 71, 219);
    }

}