/*................. INICIO PAG CONTACTO..............*/

.contacto {
    background-image: url(../images/FondoContacto.jpg);
    @include size-background;

    .mapa {
        margin: 1%;

    }

    p{
        @extend %avisos;

    }

}

.contenido-contacto {
    display: flex;
    justify-content: center;
    align-items: center;



}

/*................. FIN PAG CONTACTO..............*/