/*................ INICIO PAG SERVICIOS...............*/
.fondo-serv {
    background-image: url(../images/Fondo-Servicios.jpg);
    @include size-background;
}

.servicios {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 5%;
    font-family: $tipografia;
    p{
        font-size: 150%;
    }
    h5{
        font-size: 200%;
        background-color: $color-fondo;
    }
   
}


.btn {
    background-color: $color-fondo;
    border-color: black;
    color: black;
    margin: 5%;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.btn:hover{
    background-color: $color-fondo;
    border-color: black;
    color: black;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}


/*................ FIN PAGINA SERVICIOS...............*/