a,
a:active {
    text-decoration: none;
}

.tituloPrincipal {
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.918);

}


.cabecera {
    background-color: $color-fondo;
    font-family: 'Dancing Script', cursive;
    font-size: 220%;
    text-shadow: 1% 1% 1% black;
}

.navbar-brand img {
    border-radius: 3%;
}


.cabecera ul a {
    color: rgb(255, 255, 255);

}

.navbar-brand {
    font-size: 200%;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

/*................. FIN MENU NAV..............*/