/*................MEDIA QUERIES...............*/

@media screen and (min-width: 320px) and (max-width: 720px) {


    .texto-contenido {
        width: 100vw;
        padding: 4%;
    }

    .titulo-contenido {
        text-align: center;
    }

    .GaleriaImg {
        width: 100vw;
    }


    .calendario {
        font-size: 100%;
        width: 100%;
        padding: 1%;

    }

    .navbar-brand {
        text-align: start;
        margin: 0%;

    }


    .mapa {
        width: 90%;
        margin: 0%;
        padding: 0%;

    }

  

}